# Environment
venv/
.venv/
.env

# Python
__pycache__/
*.pyc
.pytest_cache/

# Data
data/

# Logs
logs/
*.log

# Credentials
credentials/
*.json

# IDE / OS
.vscode/
.DS_Store

# Google Cloud SDK
google-cloud-sdk/